<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

	<link href="TwoColFloated.css" rel="stylesheet" type="text/css" />



<title>Floated Two Column Layout</title>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<p>header</p>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="#">link 1</a></li>
			<li><a href="#">link 2</a></li>
			<li><a href="#">link 3</a></li>
			<li><a href="#">link 4</a></li>
			<li><a href="#">link 5</a></li>
			<li><a href="#">link 6</a></li>
		</ul>
	</div>
	<div id="content">
		<p>content</p>
	</div>
	<div id="footer">
		Footer
	</div>
</div>

</body>
</html>