@CHARSET "ISO-8859-1";



.container {
	width: 100%;
	margin:	0 auto; /* center */ 
}

.header {
	width: inherit; 
	*width: 100%; 
	height: 25px;
	margin:	0 auto; /* center */ 
	margin-top: 0px;
	padding: 5px 0 0 10px;
	font: 12px "arial";
	font-weight: bold;
	color: white;
	background-color: #438EBD;
}

.content {
	position:			static; 
	width: 				inherit; 
	*width: 			100%; 
	/*height: 			400px;*/
	margin:				0 auto; /* center */ 
	margin-top: 		1px;
	margin-bottom: 		1px;
	padding: 			10px;
	*padding: 			5px;
	border: 			0px solid;
	background-color: 	#e8e8e8; /* EEEEEE */
}

.footer, .toolbar {
	/*width: inherit; */
	width: 100%; 
	*width: 100%; 
	height: 30px;
	margin:	0 auto; /* center */ 	
	margin-top: 2px;
	border: 0px dotted;
	background-color: #999999; /* #438EBD */
}

.subtitle {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 10px 10px 0px;
}

.sub-header {
	background-color: #e8e8e8;
	margin: 0 50px;
	padding: 6px;
}

.sub-container {
	background-color: #e8e8e8;
	margin: 5px 50px 5px 50px ;
	padding: 6px;
}

.sub-footer {
	background-color: #e8e8e8;
	margin: 0 50px;
	padding: 6px;
}




/*** BUTTONS ***/
input[type="button"].spms-button, button.spms-button {
	display: block;
	float: left;
	padding: 5px 10px;
	border: 1px none;
	border-color: #357ebd;	
	cursor: pointer;
	color: white;
	background-color: #438EBD;
	height: inherit; /* the height of class */
	*height: 30px;
}
/*input[type="button"].defaultbutton, button.defaultbutton {*/
.defaultbutton {
	display: inline-block;
	padding: 7px 10px;
	border: 1px solid transparent;
	font-size: 14px;
	cursor: pointer;
	color: white;
	text-align: center;
	vertical-align: middle;
}
.defaultbutton.disabled,
.defaultbutton[disabled] {
	pointer-events: none;
	cursor: not-allowed;
  	filter: alpha(opacity=65);
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	opacity: .65;
}
.defaultbutton:focus, 
.defaultbutton:active:focus, 
.defaultbutton.active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
 	outline-offset: -2px;
}
.defaultbutton-ok {
  color: #fff;
  background-color: #438EBD;
  border-color: #357ebd;
}
.defaultbutton-ok.disabled,
.defaultbutton-ok[disabled] {
  background-color: #999999;
  border-color: #666666;
}
.defaultbutton-ok:hover, 
.defaultbutton-ok:focus,
.defaultbutton-ok:active {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
	text-decoration: none;
}
.defaultbutton-cancel {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.defaultbutton-cancel:hover, 
.defaultbutton-cancel:focus,
.defaultbutton-cancel:active {
	color: #fff;
	background-color: #d2322d;
	border-color: black; /* ac2925*/
	text-decoration: none;
}
.defaultbutton-simple {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*** #end BUTTONS ***/



input[type="button"].right { float: right; border-left: 2px solid white; }
input[type="button"].left { float: left; border-right: 2px solid white; }

input[type="text"] {
	width: 100%;
	height: 26px;
	padding: 5px;
}

/* Clearfix */
.content:after { content: ""; display: table; clear: both }

.labelfield {
	border: 0px solid;
	margin: 0px 0px 4px 0px;
	min-height: 16px;
	color: #333333;
	/*font: 14px "arial";*/
	border-color: black;
}

.displayfield {
	display: block;
	color: #666666;
	border: 1px solid;
	border-color: #999999;
	text-align: left;
	/*font: 14px "arial";*/
	min-height: 26px;
	padding: 5px;
}
.displayfield-input {
	background-color: white;
}

select.selectfield {
	width: 100%;
	border: 1px solid #aaaaaa;
	height: 26px;
}





.checkboxfield {
	margin-top: 5px;
	font-size: 12px;
}

.tfill {
	display: block;
	min-height: 24px;
	border: 0px solid;
}



/*** TABLE ***/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table.spms-table {
	width: 100%;
	cursor: default;
	border: 1px;
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	overflow: auto;
	text-indent: 10px;
	color: #333333;
	border-color: #aaaaaa;
}

.spms-table > thead > tr > th,
.spms-table > tbody > tr > th,
.spms-table > tfoot > tr > th,
.spms-table > thead > tr > td,
.spms-table > tbody > tr > td,
.spms-table > tfoot > tr > td {
	padding: 5px;
	border: 1px #aaaaaa;
}

.spms-table > thead > tr > th {
	height: 30px;
	text-indent: 10px;
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	font-weight: normal;
	background: #989898;
	color: #ffffff;
	border: 1px solid #DFDFDF;
}

.spms-table > tbody > tr > td { 
	border: 1px solid #DFDFDF;
}

.spms-table > tbody > tr:nth-child(odd) > td,
.spms-table > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.spms-table > tbody > tr:hover > td,
.spms-table > tbody > tr:hover > th {
  background-color: #438EBD;
  color: white;
}



.example-table table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.example-table {
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 0px solid #8C8C8C; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}
.example-table table td, 
.example-table table th { padding: 3px 10px; }
.example-table table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; 
} 
.example-table table thead th:first-child { border: none; }
.example-table table tbody td { color: #7D7D7D; border-left: 0px solid #DBDBDB;font-size: 12px;font-weight: normal; }
.example-table table tbody .alt td { background: #EBEBEB; color: #7D7D7D; }
.example-table table tbody td:first-child { border-left: none; }
.example-table table tbody tr:last-child td { border-bottom: none; }
.example-table table tfoot td div { border-top: 0px solid #8C8C8C;background: #EBEBEB;} 
.example-table table tfoot td { padding: 0; font-size: 12px } 
.example-table table tfoot td div{ padding: 2px; }
.example-table table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.example-table table tfoot  li { display: inline; }
/*** #end TABLE ***/




/*** TAB ***/
ul.tabnav {
	float: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: inline-block; /* this property avoid the split of tabs for another row when li margin is changed */
}

ul.tabnav li {
	display: inline-block; /* this property avoid the split of tabs for another row when li margin is changed */
	float: left;
	width: 20%; /* 100 / 5 = 20 */
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.tabnav li a {
	float: left; 
	width: 100%;
	height: 26px;
	display: block;
	padding: 5px 0 0 0; 
	border: 1px solid #E0E0E0; 
	border-bottom: 0px;
	background:#666666; 
	font-family: Arial, "Times New Roman", Times, serif; 
	font-size: 14px; 
	text-align: center;
	color: white;
	text-decoration:none; 
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tabnav li:first-child a {border-left: 0px; }
.tabnav li:last-child a {border-right: 0px; }

ul.tabnav li a:hover { text-decoration:none; background-color:#858585; font-family: Arial, "Times New Roman", Times, serif; }
ul.tabnav li a.active { background:#438EBD; color: white; border-bottom: 0px solid #fff; }

.tabcontainer {
	margin: 10px 5px 0 5px;
}

.border {
	height: 10px;
	margin: 0 5px 0 5px;
	border-top: 5px solid #438EBD;
}

.tabcontent {
	/*
	border-top: 5px solid #438EBD;
	margin: 0 6px 0 5px;
	*/
}

.tabcontent.active 		{ display: block; }
.tabcontent.inactive 	{ display: none; }
/*** #end TAB ***/




